@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

main{
    height: 100vh;
    width: 100vw;
    background-image: url('imgs/dl.beatsnoop.com-3000-QZ2LeBRHFG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
}

#loadingIcon{
    backdrop-filter: blur(100px);
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    z-index: 99;
}
